/* ********************************************* */
/* Class - Coding Bootcamp MW                    */
/* Assignment #4 - Crystal Collector Game        */
/* Author: Rod Skoglund                          */
/* Stype Sheet for of Assignment #4              */
/* ********************************************* */

body, html {
    color: #ffffff;
    background-image: url("../images/crystal-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p {
    padding: 10px;
}

#title-block {
    height: 30%;
    width: 30%;
    background-color: orangered;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    display: block;
    font-size: 4vw;
    margin: 10px;
}

#instructions {
    height: 30;
    width: 50%;
    background-color: linen;
    color: green;
    padding: 10px 10px 50px 10px;
    text-align: left;
    display: block;
    font-size: 1.5vw;
    margin: 10px;
}

.target-score {
    min-height: 100px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.target {
    float: left;
    width: 30%;
    min-height: 90px;
    background-color: mediumseagreen;
    color: black;
    padding-left: 1%;
    padding-top: 1%;
    display: block;
    font-size: 4vw;
    margin: 10px;
}

.win-lose {
    float: left;
    width: 12%;
    min-height: 96px;
    background-color: aqua;
    color: black;
    display: block;
    font-size: 1.5vw;
    margin: 10px;
}

.gemstones {
    margin-left: 5px;
}

.gemstones-img {
    float: left;
    height: 10%;
    width: 10%;
    margin: 10px;
    font-size: 2vw;
    font-weight: bold;
    color: blue;
    background-color: yellow
}

#score-title {
    width: 30%;
    background-color: darkcyan;
    color: #ffffff;
    text-align: left;
    display: block;
    font-size: 2vw;
    margin: 10px;
}

.score {
    width: 30%;
    min-height: 90px;
    background-color: darkcyan;
    color: #ffffff;
    padding-left: 1%;
    padding-top: 1%;
    display: block;
    font-size: 4vw;
    margin: 10px;
}

.gameStatusDisplay {
    font-size: 2vw;
}